---
// component imports
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";

//utils import
import { formatBlogsPosts } from "../../js/utils";

const allPosts = await Astro.glob("./*.md");

const formatedPosts = formatBlogsPosts(allPosts);
---

<MainLayout title="My Blog">
  <section class="container" aria-label="New Blog Post">
    <h1 class="h1">New Blog Post</h1>
    <div class="post-container">
      {
        formatedPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagtype="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
