---
//import Library
import { Image } from "@astrojs/image/components";


// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My About Page">
  <!-- <section class="container about" aria-label="About Me">
 
    <Image 
      src={import('../../public/images/profile.png') }
      alt="My headshort"
      width={100}
      height={300}
      format="avif"
    />

    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, veniam
        sit exercitationem iure magni porro enim illum consequatur ipsam sed
        maxime, magnam facilis obcaecati quis esse debitis quaerat aliquam
        optio? Dicta adipisci aperiam cum quae fuga, dolor nesciunt. Iusto ad
        quam rerum commodi qui ex consectetur, earum quia quidem eius aperiam
        quae, nostrum nisi odio accusantium quod perspiciatis reiciendis hic.
      </p>
      <Link
        href="mailto:krishnadharsandia@gmail.com"
        style="primary"
        text="Content Me"
      />
    </div>
  </section> -->

  <section class="about-us">
    <div class="about">
   <!-- <img src="../../public/images/profile.png" class="pic"> -->
      <div class="text">
        <h2>About Us</h2>
        <h5>Front-end Developer & <span>Designer</span></h5>
        <p>"Hello, my name is <span>Krishna Dharsandia</span>, and I am an aspiring computer engineer. I am highly enthusiastic about technology and have always been fascinated by how it can be utilized to solve complex problems. Throughout my academic journey, I have developed a strong foundation in computer engineering principles, including areas such as programming, algorithms, and hardware design.</p>
        <div class="data">
        <a href="../../public/images/Krishna_Resume-1.pdf" download="Krishna_Resume-1" class="resume">Resume</a>
        </div>
      </div>
    </div>
  </section>

</MainLayout>
