---
---

<div class="theme-switch-wrapper">
  <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" style="display: none;" />
    <div class="slider theme-btn theme-btn-desktop light">
      <iconify-icon icon="humbleicons:sun"></iconify-icon>
      <iconify-icon icon="akar-icons:moon-fill"></iconify-icon>
    </div>
  </label>
</div>


<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  const themeBtn = document.querySelector(".theme-btn");

  if (theme === "light") {
    document.documentElement.setAttribute("data-theme", "light");
    themeBtn.classList.remove("dark");
    themeBtn.classList.add("light");
  } else {
    document.documentElement.setAttribute("data-theme", "dark");
    themeBtn.classList.remove("light");
    themeBtn.classList.add("dark");
  }

  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {

    // themeBtn.classList.toggle("dark");

    if(localStorage.getItem("theme") == "light")
    {
      document.documentElement.setAttribute("data-theme", "dark");
      themeBtn.classList.remove("light");
      themeBtn.classList.add("dark");
    }

    if(localStorage.getItem("theme") == "dark")
    {
      document.documentElement.setAttribute("data-theme", "light");
      themeBtn.classList.remove("dark");
      themeBtn.classList.add("light");
    }


    const isDark = themeBtn.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");

   
  };

  document.getElementById("checkbox").addEventListener("click", handleToggleClick);
</script>
