---
// component import
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../js/app"

// style import
import "../styles/global.css";

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
} = Astro.props;

const theamchanger = "dark-theme";
---

<html lang="en">
  <MainHead {title} {description} />
  <body class={theamchanger}>
    <Nav />
    <div class="My-Blog-Main">
      <main>
        <slot> Default Text</slot>
      </main>
      <Footer />
    </div>
  </body>

  <script>
       // navbar variables
   const nav = document.querySelector(".mobile-nav");
   const navMenuBtn = document.querySelector(".nav-menu-btn");
   const navCloseBtn = document.querySelector(".nav-close-btn");

   // navToggle function
   const navToggleFunc = function () {
     nav.classList.toggle("active");
   };

   navMenuBtn.addEventListener("click", navToggleFunc);
   navCloseBtn.addEventListener("click", navToggleFunc);

   // theme toggle variables
   const themeBtn = document.querySelector(".theme-btn");
   let darkMode = localStorage.getItem("dark-mode");

   const enableDarkMode = () => {
     document.body.classList.remove("light-theme");
     document.body.classList.add("dark-theme");

     themeBtn.classList.remove("light");
     themeBtn.classList.add("dark");

     localStorage.setItem("dark-mode", "enabled");
   };

   const disableDarkMode = () => {
     document.body.classList.remove("dark-theme");
     document.body.classList.add("light-theme");

     themeBtn.classList.remove("dark");
     themeBtn.classList.add("light");

     localStorage.setItem("dark-mode", "disabled");
   };

  
   themeBtn.addEventListener("click", (e) => {

       darkMode = localStorage.getItem("dark-mode"); // update darkMode when clicked
       
       if (darkMode === "disabled") 
       {
         enableDarkMode();
       } 
       else
       {
         disableDarkMode();
       }

         
         
       
     });
   
  </script>

</html>
